* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  background-color: #ff4400;
}

.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato,sans-serif;
}

.container-base{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.container-counter{
  height: 250px;
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-page{
  height: 250px;
}